:root {
    font-family: "Outfit", sans-serif;

    --md-ref-typeface-brand: "Outfit", sans-serif;
    --md-outlined-select-text-field-input-text-font: "Outfit", sans-serif;
    --md-outlined-select-text-field-container-shape: 30px;

    --md-icon-font: "Material Symbols Rounded";
}

*:not(md-icon) {
    font-family: "Outfit", sans-serif;
}
